/* 
//Chat-BG: #36393f
//Sidemenu: #2f3136
//Frame: #202225
//Input: #40444b
*/

* {
  box-sizing: border-box;
}

.mainview {
  display: flex;
  justify-content: space-between;
}

.chatview {
  width: 100vw;
  height: 100vh;
  background-color: #202225;
  display: flex;
  flex-flow: column;

  justify-content: center;
  align-items: flex-start;
}

.chatview__chat {
  height: 80%;
  width: 70%;
  background-color: #36393f;
  border: 2px solid grey;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 8px;
  padding: 8px;
  margin-left: 125px;

}

.chat__title {

  padding: 8px;
  margin: 8px;
  border-bottom: 2px solid #f04141;
}

.chat__title-cont {
  margin-left: 125px;
}

.chatview__messages {
  overflow: auto;


  width: 100%;
  margin: 5px;
  padding: 5px;

}

.chat__listitem {
  display: flex;
  align-items: center;
}

.sidebar {
  height: 100vh;
  background-color: #2f3136;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-left: 2px solid grey;

}

.sidebar__list {
  height: 600px;
  overflow: auto;

}

.sidebar__item {
  display: flex;

  font-size: 14px;
}

.sidebar__container {
  height: 150px;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}

.loginScreen {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E0E4CB;

}

.login__cont {
  height: 450px;
  width: 300px;
  display: flex;
  flex-flow: column;
  border: 2px solid #C3C7AE;
  border-radius: 4px;
}

.form,
.form__input {
  width: 100%;
  background-color: #40444b;
  border: none;
  height: 35px;
  outline: none;
  caret-color: #ffffff;
  border-radius: 4px;
}

.form__input {
  outline: none;
  caret-color: #ffffff;
  padding: 4px;
  padding-left: 8px;
  color: #ffffff;
}

.form__title {
  color: #53D86A;
}

.header {
  display: flex;
  width: 100%;
}

.header__cont {
  width: 50%;
}

.listitem__time {
  font-size: 12px;
  padding: 2px;
  margin: 2px;
  margin-top: 3px;
}

label,
p,
h1,
span {
  color: #ffffff;
}