/* 
//Chat-BG: #36393f
//Sidemenu: #2f3136
//Frame: #202225
//Input: #40444b
*/

* {
  box-sizing: border-box;
}

.mainview {
  display: flex;
  justify-content: space-between;
}

.chatview {
  width: 100vw;
  height: 100vh;
  background-color: #36393f;
  display: flex;
  justify-content: space-between;
}

.chatview__chat {
  height: 80%;
  width: 60%;
  background-color: #36393f;
  margin: auto;
  overflow: auto;
}

.sidebar {
  height: 100vh;
  background-color: #2f3136;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-left: 2px solid grey;

}

.sidebar__list {
  height: 600px;
  overflow: auto;

}

.sidebar__item {
  display: flex;

  font-size: 14px;
}

.sidebar__container {
  height: 150px;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}

.loginScreen {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E0E4CB;

}

.login__cont {
  height: 450px;
  width: 300px;
  display: flex;
  flex-flow: column;
  border: 2px solid #C3C7AE;
  border-radius: 4px;


}

.form__title {
  color: #53D86A;
}

.header {
  display: flex;
  width: 100%;
}

.header__cont {
  width: 50%;
}

label,
p,
h1 {
  color: #ffffff;
}